<a href="https://colab.research.google.com/github/Hirusha99/python-random-quote/blob/master/musicdataset_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import data

In [ ]:
import pandas as pd
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

Cleaning data

data set seperate two data sets

input - age gender
output - genre

In [ ]:
 X= music_data.drop(columns=['genre'])
 y= music_data['genre']
 y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

Building a model

using desicion tree

import DesicionTreeClassifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model= DecisionTreeClassifier()
model.fit(X, y)

DecisionTreeClassifier()

Do predictions

In [ ]:
predictions= model.predict([[21,1],[22,0]])
predictions

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['HipHop', 'Dance'], dtype=object)

Calculating the Accuracy

In [ ]:
from sklearn.model_selection import train_test_split
 #this function used to easily seperate data set into two parts
from sklearn.metrics import accuracy_score #calculate accuracy

X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2) # allocation 20% of data for testing
model.fit(X_train, y_train)
predictions= model.predict(X_test)

score=accuracy_score(y_test, predictions)
score

1.0

Peresisting Model

In [ ]:
#from sklearn.externals import joblib # joblib used for saving and loading model
import joblib
joblib.dump(model,'music-recommender.joblib')

['music-recommender.joblib']

In [ ]:
model = joblib.load('music-recommender.joblib')
predictions= model.predict([[21,1]])
predictions

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['HipHop'], dtype=object)

Visualizing Desicion tree

In [ ]:
from sklearn import tree # import decision tree graphical method
tree.export_graphviz(model, out_file='music_recommender.dot', 
                    feature_names=['age','gender'] ,
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)